$superTinyScreen: 350px

body
    background-color: #eee

#overlay
    z-index: 100
    background-color: white
    width: 100%
    height: 100%
    position: absolute
    top: 0px
    left: 0px

    &.out
        animation: fadeOut 1s

    &.removed
        display: none

    .rotating-icon
        @include rotating-icon
        text-align: center
        position: relative
        display: block
        top: 100px

.snap-content
    background-color: #EEEEEE

.snap-drawer
    background-color: #333333

.header
    font-size: 22px
    font-weight: 200
    line-height: 1.8

.query-details
    text-align: center
    background-color: #3768FB
    color: #FBFBFB
    font-size: 22px
    font-weight: 200
    line-height: 1.8
    @include shadow

.icon-steps
    padding: 10px

    .fa
        margin-right: 10px
        @media screen and (max-width: $superTinyScreen)
            font-size: 1.4em

.times h4
    @include nice-h4()

.arrival-mins h4
    @include nice-h4(16px, 14px)
    height: 0px
    
    & .past
        color: #C00000

    & .future
        color: #008443

.route-card
    @include shadow
    padding: 15px
    background-color: #fff
    margin-bottom: 3px

    &.ng-enter
        animation: fadeInLeftBig 1s, in 1s
    &.ng-leave
        overflow: hidden
        animation: fadeOutRightBig 1s, out ease-in-out 1s

@-webkit-keyframes out
    0%
        height: 0px
        margin-bottom: 0px
        padding-top: 0px
        padding-bottom: 0px

    100%
        height: auto
        padding: 15px
        margin-bottom: 3px

@-webkit-keyframes out
    0%
        height: auto
        padding: 15px
        margin-bottom: 3px

    100%
        height: 0px
        margin-bottom: 0px
        padding-top: 0px
        padding-bottom: 0px

.route-steps
    & .route-step
        padding-left: 25px
        line-height: 2.0
        font-weight: 300
        color: gray
        @media screen and (max-width: $superTinyScreen)
            font-size: 12px

.align-right
    text-align: right

.recent-query, .new-route-button
    cursor: pointer
    display: block
    color: #EEEEEE !important
    padding: 10px
    padding-left: 20px
    text-decoration: none
    border-bottom: 1px solid #999999

    .from, .to
        color: #666
        width: 3em

    .origin, .destination
        margin-left: 40px

    &:hover, &:visited, &:link, &:active
        text-decoration: none
    
    &:hover, &:active
        background-color: #DDD
        color: #333 !important

.new-route-button
    text-align: center
    padding: 30px
    font-size: 1.2em

i.fa.rotate
    @include rotating-icon

i.hamburger
    z-index: 10
    padding-top: 4px
    cursor: pointer
    text-align: center
    background-color: rgba(255, 255, 255, 0.3)
    border-radius: 4px
    width: 35px
    height: 35px
    position: relative
    top: 10px
    left: 10px
    @media screen and (max-width: 767px)
        position: absolute
        top: 0px
        left: 0px

