$superTinyScreen: 350px

@mixin shadow
    box-shadow: 1px 3px rgba( 0, 0, 0, 0.1 )

@mixin nice-h4($big: 22px, $small: 19px)
    font-size: $big
    font-weight: 200
    line-height: 1.8
    @media screen and (max-width: $superTinyScreen)
        font-size: $small
        font-weight: 300

body
    background-color: #eee

.header
    font-size: 22px
    font-weight: 200
    line-height: 1.8

.query-details
    text-align: center
    background-color: #3768FB
    color: #FBFBFB
    font-size: 22px
    font-weight: 200
    line-height: 1.8
    @include shadow

.icon-steps
    padding: 10px

    .fa
        margin-right: 10px
        @media screen and (max-width: $superTinyScreen)
            font-size: 1.4em

.times h4
    @include nice-h4()

.arrival-mins h4
    @include nice-h4(16px, 14px)
    height: 0px
    
    & .past
        color: #C00000

    & .future
        color: #008443

.route-card
    @include shadow
    padding: 15px
    background-color: #fff
    margin-bottom: 3px

    &.ng-enter
        animation: fadeInLeftBig 1s, in 1s
    &.ng-leave
        animation: fadeOutRightBig 1s, out 1s

@-webkit-keyframes out
    from
        height: 0px
        margin-bottom: 0px
        padding-top: 0px
        padding-bottom: 0px

    to
        padding: 15px
        margin-bottom: 3px

@-webkit-keyframes out
    to
        height: 0px
        margin-bottom: 0px
        padding-top: 0px
        padding-bottom: 0px

.route-steps
    & .route-step
        padding-left: 25px
        line-height: 2.0
        font-weight: 300
        color: gray
        @media screen and (max-width: $superTinyScreen)
            font-size: 12px

.align-right
    text-align: right


// .animate-enter, 
// .animate-leave
//     -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
//     -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
//     -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
//     -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
//     transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
//     position: relative
//     display: block
 
// .animate-enter.animate-enter-active, 
// .animate-leave
//     opacity: 1
//     top: 0
//     height: 30px
 
// .animate-leave.animate-leave-active,
// .animate-enter
//     opacity: 0
//     top: -50px
//     height: 0px