<div ng-controller="MainCtrl">
  <div ng-cloak class="query-details row">
    <div class="col-sm-12 col-xs-12">
      <div class="origin">
        {{query.origin}}
      </div>
      <div class="arrows">
        <i class="fa fa-chevron-down"></i>
      </div>
      <div class="destination">
        {{query.destination}}
      </div>
    </div>
  </div>


  <div class="route-card" ng-repeat="route in routes track by route.md5">
    <div ng-repeat="leg in route.legs">
      <div class="row times">
        <div class="col-sm-8 col-xs-8 col-sm-offset-1">
          <h4>{{leg.departure_time.text}} - {{leg.arrival_time.text}}</h4>
        </div>
        <div class="col-sm-2 col-xs-4">
          <h4 class="align-right">{{leg.duration.text}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8 col-sm-6 col-sm-offset-1 icon-steps" ng-bind-html="leg.steps | iconise_steps">
        </div>
        <div ng-controller='TimeCtrl' class="col-xs-4 col-sm-4 arrival-mins">
          <h4 class="align-right">
            <span class="future" ng-if="leg.departure_time.value.getTime() > clock">Leaves
              <span class="align-right" am-time-ago="leg.departure_time.value.getTime()/1000"></span>
            </span>
            <span class="past" ng-if="leg.departure_time.value.getTime() < clock">Left
              <span class="align-right" am-time-ago="leg.departure_time.value.getTime()/1000"></span>
            </span>
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="route-steps col-sm-10 col-xs-12 col-sm-offset-1">
          <ol>
            <li class="route-step" ng-repeat="step in leg.steps | limitTo:3">{{step.instructions}}</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div ng-show="route.detailsVisible" class="map col-sm-11 col-sm-offset-1">
<!--           <ui-gmap-google-map center='route.bounds.getCenter()'
              zoom='10'
              draggable='false'
          >

              <!-- other ui-gmap-directives here -->

          <!--</ui-gmap-google-map> -->
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-4 col-xs-4 col-sm-offset-4 col-xs-offset-4">
          <div class="more-details">
            <a ng-click="displayDetails($index)">More Details</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>